<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Blog Website</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
</head>

<body class="d-flex flex-column min-vh-100">
    <%- include("partials/header.ejs") %>

    <main class="flex-grow-1">
        <div class="container my-5">
            <div class="p-5 text-center bg-body-tertiary rounded-3">
                <h1 class="text-body-emphasis">About</h1>
                <p class="lead">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati explicabo praesentium aliquid impedit recusandae corporis. Quam iure magni suscipit porro, perferendis nemo tempora atque explicabo laboriosam qui error, harum, vero dolores vitae earum nulla accusamus fugiat? Deserunt ducimus id consequatur quam officiis a repellendus incidunt, exercitationem in, temporibus cumque. Dolor illo, hic, id expedita veritatis fugiat error, numquam quod iusto vel delectus. Inventore sapiente et officiis, neque, reprehenderit repellat, dolores mollitia ullam ducimus ipsam eligendi quam deserunt beatae cumque magni recusandae commodi. Fuga earum fugiat dolorum ea quidem minus pariatur rem provident dignissimos atque dolores debitis exercitationem accusantium excepturi, eveniet ab, ad quod blanditiis alias? Laudantium eaque, quae deleniti voluptatem, cupiditate mollitia magni vel modi eveniet, atque consequatur nobis ut dolores! Voluptatem dolores ipsum atque, eos ut non fuga eaque animi ad vitae nam amet dicta aspernatur commodi. Porro qui reprehenderit repellat, quae corporis impedit deserunt ipsam tempore ullam iusto.
                </p>
            </div>
        </div>
    </main>

    <%- include("partials/footer.ejs") %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>
</body>

</html>